<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Vincenzo Musco">

        <title>V-Analyzer</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

        <!-- https://raphaelfabeni.com/css-loader/ -->
        <style>.loader{color:#fff;position:fixed;box-sizing:border-box;left:-9999px;top:-9999px;width:0;height:0;overflow:hidden;z-index:999999}.loader:after,.loader:before{box-sizing:border-box;display:none}.loader.is-active{background-color:rgba(0,0,0,.85);width:100%;height:100%;left:0;top:0}.loader.is-active:after,.loader.is-active:before{display:block}.loader-bouncing:after,.loader-bouncing:before{content:"";width:20px;height:20px;position:absolute;top:calc(50% - 10px);left:calc(50% - 10px);border-radius:50%;background-color:#fff;animation:kick .6s infinite alternate}.loader-bouncing:after{margin-left:-30px;animation:kick .6s infinite alternate}.loader-bouncing:before{animation-delay:.2s}@keyframes kick{0%{opacity:1;transform:translateY(0)}to{opacity:.3;transform:translateY(-1rem)}}</style>
    </head>
    <body>

    <div class="container"  id="example">
        <h1>V-Analyzer</h1>
        <p v-if="!loading">
            <div class="sbl-circ-ripple"></div>
            Search:
            <select name="registry" id="searchRegistry">
                <option v-for="registry in registries">{{ registry }}</option>
            </select>
            <input placeholder="Package" id="searchPackage" />
            <input placeholder="Version" id="searchVersion" value="latest" />
            <input type="button" value="Search" v-on:click="submitQuery" />
        </p>
        <div v-if="loading" class="loader loader-bouncing is-active"></div>
        <p v-if="loaded"><tree-view v-bind:item="content" v-bind:shift="0"></tree-view></p>
        <div v-if="no_results" class="alert alert-warning" role="alert">
            No results found!
        </div>
        <div v-if="error" class="alert alert-danger" role="alert">
            Something went wrong with your query. Please ensure you specified a version or try again later.
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>

    <script>
        Vue.component('tree-view', {
            props: ['item', 'shift'],
            data: function () {
                return {
                    expanded: false
                }
            },
            template: `
            <div v-bind:style="{marginLeft: (shift * 10) + \'px\'}">
                <span v-if="item['dependencies'].length > 0">
                    <span v-show="!expanded"><i class="far fa-plus-square"></i></span>
                    <span v-show="expanded"><i class="far fa-minus-square"></i></span>
                </span>
                <span v-else>
                    <i class="far fa-square"></i>
                </span>
                <a href="javascript: return false;" v-on:click="expanded = !expanded">{{ item["name"] }} <span v-for="version in item['versions']" class="badge badge-secondary">{{ version }}</span></a>
                <div v-show="expanded">
                    <div v-for="x in item['dependencies']"">
                        <tree-view v-bind:item=\"x\" v-bind:shift=\"shift + 1\"""></tree-view>
                    </div>
                </div>
            </div>`
        })

        new Vue({
            el: '#example',
            data: {
                loading: false,
                loaded: false,
                pulling: null,
                error: false,
                registries: [],
                content: {}
            },
            computed: {
                no_results: function(){
                    return this.loaded && this.content.versions.length == 0
                }
            },
            methods: {
                scheduleResultPooler: function(){
                    setTimeout(function () {
                        console.log("Sending: " + this.pulling);
                        axios.get(this.pulling).then(response => {
                            console.log(response.status);
                            if("name" in response.data){
                                console.log("Result are there!");
                                this.pulling = null;
                                this.loaded = true;
                                this.loading = false;
                                this.content = response.data;
                            }else{
                                console.log("Scheduling next check...");
                                this.scheduleResultPooler();
                            }
                            this.error = false;
                        }).catch(err => {
                            this.loading = false;
                            this.loaded = false;
                            this.error = true;
                        });
                    }.bind(this), 3000);
                },
                submitQuery: function () {
                    this.loading = true;
                    this.loaded = false;

                    axios.post("v1/analyze/"+$("#searchRegistry").val()+"/"+$("#searchPackage").val()+"/"+$("#searchVersion").val()).then(response => {
                        console.log(response);
                        this.pulling = response.headers["location"];
                        this.scheduleResultPooler()
                        this.error = false;
                    }).catch(err => {
                        this.loading = false;
                        this.loaded = false;
                        this.error = true;
                    })
                }
            },
            mounted() {
                axios.get("v1/registries").then(response => {
                    this.registries = response.data
                })
            }
        })
    </script>
    </body>
</html>
